/*
 * This Main custom style for project
 */
.browsehappy {
  margin:             10px 0;
  background:         #cccccc;
  color:              #444444;
  padding:            10px 0;
}

.scene-container {
  border:             none;
}

#scene {
  display:            block;
  margin:             10px auto;
  position:           relative;
}
